.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
*.log


servers/nodejs/node_modules/
servers/nodejs/package-lock.json

scripts/rust/target/
scripts/rust/Cargo.lock